/*////////////////////// PARTIALS //////////////////////*/

@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'reset';

/*////////////////////// VUE JS //////////////////////*/

[v-cloak] {
  display: none !important;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  transition: 2s;
}

.fade-leave {
  opacity: 0;
}

/*////////////////////// VUETIFY //////////////////////*/

.container {
  @include res(xl) {
    max-width: 1140px !important;
  }
}

.container--fluid {
  max-width: 100% !important;
}

.v-menu__content {

  @include res(sm) {
    margin-top: 57px !important;
  }

  @media only screen and (min-width: $sm) {
    min-width: 200px !important;
  }
}

.v-list {
  margin-bottom: 0px !important;
}

/*////////////////////// GENERAL CLASSES AND COMPONENTS //////////////////////*/

.dir-ltr {
  direction: $dir-o;
  text-align: $align-o;
}

.btn-main {
  cursor: pointer;
  border-radius: 10px !important;
  font-size: 16px !important;
  line-height: 30px !important;
  text-transform: none !important;
}

.title-main {
  position: relative;
  z-index: 5;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: #282A2D;
  margin-bottom: 0;
  display: inline-block;

  &.capital {
    text-transform: capitalize;
  }

  @include res($sm) {
    font-size: 23px;
    line-height: 30px;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 10px;
    top: 48%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include res($sm) {
      width: 30px;
      height: 30px;
    }
  }

  &.dot-yellow {
    &:before {
      background: #FFEDBA;
    }
  }

  &.dot-green {
    &:before {
      background: #CFE7E4;
    }
  }

  &.dot-pink {
    &:before {
      background: #F4D1D3;
    }
  }

  &.dot-purple {
    &:before {
      background: #E3D6E9;
    }
  }

  span {
    font-weight: 700;

    &.thin {
      font-weight: 600;
    }
  }
}

.title-sub {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.0041em;
  color: #616771;
  max-width: 613px;
  margin: 20px auto 0 auto !important;
  display: block;

  @include res($sm) {
    font-size: 15px;
    line-height: 22px;
  }
}

.paragraph-main {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;

  @include res($sm) {
    font-size: 16px;
    line-height: 27px;
  }
}

em {
  line-height: 0 !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

/*////////////////////// SECTIONS //////////////////////*/

.content-container {
  background: #8de0f8;
  background-image: url('../../static/img/spotlight-bg.webp');
  background-image: url('../../static/img/spotlight-bg.webp'), linear-gradient(to bottom, #f1fafd 0%, $cw 100%);
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 500px;
  padding-left: 0!important;
  padding-right: 0!important;

  @include res($md) {
    padding: 12px 0;
  }

  &.type-second {
    background: $cw;
  }

  .content {
    padding-top: 90px;

    @include res($sm) {
      padding-top: 80px;
    }
  }
}