// VARIABLES

	// Colors
	$cw: #ffffff;
	$cb: #000000;
	$c1: #545cf5;
	$c2: #1d2a3b;

	// Fonts
	$f: "Urbanist", Arial, Helvetica, sans-serif;

	// Breakpoints 
	$xs: 599px;
	$sm: 959px;
	$md: 1263px;
	$lg: 1903px;
	$xl: 1904px;